html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background: #f0f0f0;
    color: #084cdf;
}

a, a:visited {
    color: #084cdf;
}
.lg {
    font-size: 18px;
}
.wrapper {
    width: 350px;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.sm {
    font-size: 13px;
}
h1 {
    color: #084cdf;
}
form {
    width: 300px;
    border: 2px #084cdf solid;
    padding: 1rem 0 1.5rem 1rem;
    margin: 1rem 0;
    border-radius: 1rem;
    z-index: -1;
}
label {
    display: inline-block;
    font-size: 14px;
    width: 200px;
    vertical-align: top;
}
input {
    margin-bottom: 5px;
    vertical-align: top;
}
input[type="number"] {
    width: 60px;
    color: #084cdf;
    border: 2px solid #084cdf;
    font-size: 16px;
    padding: 3px 7px;
    border-radius: 5px;
}

/* file */
input[type=file] {
    width: calc(100% - 36px);
    color: #084cdf;
    padding: 8px;
    background: #fff;
    border-radius: 10px;
    border: 2px solid #084cdf;
}

input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    background: #0d45a5;
}

/* button */
.button-submit {
    align-items: center;
    background: white;
    border: 2px solid #084cdf;
    border-radius: 8px;
    box-sizing: border-box;
    color: #084cdf;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    width: calc(100% - 24px);
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: all .15s ease-out;
    margin-right: 8px;
    margin-bottom: 8px;
}

.button-submit:after {
    background-color: #084cdf;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -2;
}

.button-submit:hover:after {
    transform: translate(0, 0);
}
.button-submit:hover {
    margin-left: 8px;
    margin-top: 8px;
    margin-right: 0px;
    margin-bottom: 0px;
}

.button-submit:active {
    background-color: white;
    outline: 0;
}

.button-submit:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .button-submit {
        padding: 0 40px;
    }
}

.error {
    font-family: monaco; background: #002244; border-radius: 0.5rem; font-size: 10px; line-height: 1.1em; color: #0bF; padding: 1rem; margin: 1rem 0;
}